mako>=1.1,<1.2
mininet @ git+https://github.com/mininet/mininet@2.3.0
sphinx_rtd_theme
sphinxcontrib-apidoc
sphinxcontrib-napoleon
m2r
mistune<2.0.0 # Needed because m2r does not support newest version of mistune: https://github.com/miyakogi/m2r/issues/66
recommonmark
